body {
  background: url("../img/map.jpg");
  background-size: 100vw auto;
  background-repeat: no-repeat;
  padding-top: 0px;
  margin: 0;
  padding: 0;
  width: 100%;
  -webkit-text-size-adjust:none;
  -ms-text-size-adjust:none;
}

svg{
  background:none;
  height: 100%;
  width: 100vw
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 100s linear alternate infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}


#velo {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}
